// SIZES
// -----------------------------------------------------------------------------
.text-xs {
	@include font-size( 10 );
}

.text-sm {
	@include font-size( 13 );
}

.text-md {
	@include font-size( 16 );
}

.text-lg {
	@include font-size( 19 );
}

.text-xl {
	@include font-size( 22 );
}

// STATES
// -----------------------------------------------------------------------------
.text-muted {
	color: $color-muted !important;
}

html.dark {
	.text-muted {
		color: darken( $dark-default-text, 20% ) !important;
	}
}

@each $color in $colors-list {
	.text-#{nth($color,1)} {
		color: #{nth($color,2)} !important;
	}
}

@each $color in $colors-list {
	.text-#{nth($color,1)}-inverse {
		color: #{nth($color,3)} !important;
	}
}

.text-black{
	color: $color-black;
}

// WEIGHTS
// -----------------------------------------------------------------------------
/* weights */
.text-light {
	font-weight: $font-weight-light !important;
}

.text-normal {
	font-weight: $font-weight-normal !important;
}

.text-semibold {
	font-weight: $font-weight-semibold !important;
}

.text-bold {
	font-weight: $font-weight-bold !important;
}

// TEXT OTHERS
// -----------------------------------------------------------------------------
.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}
.text-overflow{
	@include text-overflow();
}
// BORDERS
// -----------------------------------------------------------------------------
.rounded {
	border-radius: $border-radius;
}

.b-thin {
	border-width: $border-thin;
}

.b-normal {
	border-width: $border-normal;
}

.b-thick {
	border-width: $border-thick;
}

// SPACEMENTS
// -----------------------------------------------------------------------------
/* Spacements */
/* spacement top & bottom */
.m-none {
	margin: 0 !important;
}

.m-auto {
	margin: 0 auto !important;
}

.m-ts {
	margin: $spacement-ts !important;
}

.m-xs {
	margin: $spacement-xs !important;
}

.m-sm {
	margin: $spacement-sm !important;
}

.m-md {
	margin: $spacement-md !important;
}

.m-lg {
	margin: $spacement-lg !important;
}

.m-xl {
	margin: $spacement-xl !important;
}

.m-xlt {
	margin: $spacement-xlt !important;
}

.m-xls {
	margin: $spacement-xls !important;
}

.m-xlm {
	margin: $spacement-xlm !important;
}

.m-xlg {
	margin: $spacement-xlg !important;
}

.m-2xl {
	margin: $spacement-2xl !important;
}

.m-3xl {
	margin: $spacement-3xl !important;
}

.m-4xl {
	margin: $spacement-4xl !important;
}

.m-5xl {
	margin: $spacement-5xl !important;
}

/* spacement top  */
.mt-none {
	margin-top: 0 !important;
}

.mt-ts {
	margin-top: $spacement-ts !important;
}

.mt-xs {
	margin-top: $spacement-xs !important;
}

.mt-sm {
	margin-top: $spacement-sm !important;
}

.mt-md {
	margin-top: $spacement-md !important;
}

.mt-lg {
	margin-top: $spacement-lg !important;
}

.mt-xl {
	margin-top: $spacement-xl !important;
}

.mt-xlt {
	margin-top: $spacement-xlt !important;
}

.mt-xlx {
	margin-top: $spacement-xlx !important;
}

.mt-xls {
	margin-top: $spacement-xls !important;
}

.mt-xlm {
	margin-top: $spacement-xlm !important;
}

.mt-xlg {
	margin-top: $spacement-xlg !important;
}

.mt-2xl {
	margin-top: $spacement-2xl !important;
}

.mt-3xl {
	margin-top: $spacement-3xl !important;
}

.mt-4xl {
	margin-top: $spacement-4xl !important;
}

.mt-5xl {
	margin-top: $spacement-5xl !important;
}

/* spacement bottom  */
.mb-none {
	margin-bottom: 0 !important;
}

.mb-ts {
	margin-bottom: $spacement-ts !important;
}

.mb-xs {
	margin-bottom: $spacement-xs !important;
}

.mb-sm {
	margin-bottom: $spacement-sm !important;
}

.mb-md {
	margin-bottom: $spacement-md !important;
}

.mb-lg {
	margin-bottom: $spacement-lg !important;
}

.mb-xl {
	margin-bottom: $spacement-xl !important;
}

.mb-xlt {
	margin-bottom: $spacement-xlt !important;
}

.mb-xlx {
	margin-bottom: $spacement-xlx !important;
}

.mb-xls {
	margin-bottom: $spacement-xls !important;
}

.mb-xlm {
	margin-bottom: $spacement-xlm !important;
}

.mb-xlg {
	margin-bottom: $spacement-xlg !important;
}

.mb-2xl {
	margin-bottom: $spacement-2xl !important;
}

.mb-3xl {
	margin-bottom: $spacement-3xl !important;
}

.mb-4xl {
	margin-bottom: $spacement-4xl !important;
}

.mb-5xl {
	margin-bottom: $spacement-5xl !important;
}

/* spacement left  */
.ml-none {
	margin-left: 0 !important;
}

.ml-ts {
	margin-left: $spacement-ts !important;
}

.ml-xs {
	margin-left: $spacement-xs !important;
}

.ml-sm {
	margin-left: $spacement-sm !important;
}

.ml-md {
	margin-left: $spacement-md !important;
}

.ml-lg {
	margin-left: $spacement-lg !important;
}

.ml-xl {
	margin-left: $spacement-xl !important;
}

.ml-xlt {
	margin-left: $spacement-xlt !important;
}

.ml-xlx {
	margin-left: $spacement-xlx !important;
}

.ml-xls {
	margin-left: $spacement-xls !important;
}

.ml-xlm {
	margin-left: $spacement-xlm !important;
}

.ml-xlg {
	margin-left: $spacement-xlg !important;
}

.ml-2xl {
	margin-left: $spacement-2xl !important;
}

.ml-3xl {
	margin-left: $spacement-3xl !important;
}

.ml-4xl {
	margin-left: $spacement-4xl !important;
}

.ml-5xl {
	margin-left: $spacement-5xl !important;
}

/* spacement right  */
.mr-none {
	margin-right: 0 !important;
}

.mr-ts {
	margin-right: $spacement-ts !important;
}

.mr-xs {
	margin-right: $spacement-xs !important;
}

.mr-sm {
	margin-right: $spacement-sm !important;
}

.mr-md {
	margin-right: $spacement-md !important;
}

.mr-lg {
	margin-right: $spacement-lg !important;
}

.mr-xl {
	margin-right: $spacement-xl !important;
}

.mr-xlt {
	margin-right: $spacement-xlt !important;
}

.mr-xlx {
	margin-right: $spacement-xlx !important;
}

.mr-xls {
	margin-right: $spacement-xls !important;
}

.mr-xlm {
	margin-right: $spacement-xlm !important;
}

.mr-xlg {
	margin-right: $spacement-xlg !important;
}

/* Spacement Padding */
.p-none {
	padding: 0 !important;
}

.p-ts {
	padding: $spacement-ts !important;
}

.p-xs {
	padding: $spacement-xs !important;
}

.p-sm {
	padding: $spacement-sm !important;
}

.p-md {
	padding: $spacement-md !important;
}

.p-lg {
	padding: $spacement-lg !important;
}

.p-xl {
	padding: $spacement-xl !important;
}

.p-xlt {
	padding: $spacement-xlt !important;
}

.p-xlx {
	padding: $spacement-xlx !important;
}

.p-xls {
	padding: $spacement-xls !important;
}

.p-xlm {
	padding: $spacement-xlm !important;
}

.p-xlg {
	padding: $spacement-xlg !important;
}

.p-2xl {
	padding: $spacement-2xl !important;
}

.p-3xl {
	padding: $spacement-3xl !important;
}

.p-4xl {
	padding: $spacement-4xl !important;
}

.p-5xl {
	padding: $spacement-5xl !important;
}

/* spacement top  */
.pt-none {
	padding-top: 0 !important;
}

.pt-ts {
	padding-top: $spacement-ts !important;
}

.pt-xs {
	padding-top: $spacement-xs !important;
}

.pt-sm {
	padding-top: $spacement-sm !important;
}

.pt-md {
	padding-top: $spacement-md !important;
}

.pt-lg {
	padding-top: $spacement-lg !important;
}

.pt-xl {
	padding-top: $spacement-xl !important;
}

.pt-xlt {
	padding-top: $spacement-xlt !important;
}

.pt-xlx {
	padding-top: $spacement-xlx !important;
}

.pt-xls {
	padding-top: $spacement-xls !important;
}

.pt-xlm {
	padding-top: $spacement-xlm !important;
}

.pt-xlg {
	padding-top: $spacement-xlg !important;
}

.pt-2xl {
	padding-top: $spacement-2xl !important;
}

.pt-3xl {
	padding-top: $spacement-3xl !important;
}

.pt-4xl {
	padding-top: $spacement-4xl !important;
}

.pt-5xl {
	padding-top: $spacement-5xl !important;
}

/* spacement bottom  */
.pb-none {
	padding-bottom: 0 !important;
}

.pb-ts {
	padding-bottom: $spacement-ts !important;
}

.pb-xs {
	padding-bottom: $spacement-xs !important;
}

.pb-sm {
	padding-bottom: $spacement-sm !important;
}

.pb-md {
	padding-bottom: $spacement-md !important;
}

.pb-lg {
	padding-bottom: $spacement-lg !important;
}

.pb-xl {
	padding-bottom: $spacement-xl !important;
}

.pb-xlt {
	padding-bottom: $spacement-xlt !important;
}

.pb-xlx {
	padding-bottom: $spacement-xlx !important;
}

.pb-xls {
	padding-bottom: $spacement-xls !important;
}

.pb-xlm {
	padding-bottom: $spacement-xlm !important;
}

.pb-xlg {
	padding-bottom: $spacement-xlg !important;
}

.pb-2xl {
	padding-bottom: $spacement-2xl !important;
}

.pb-3xl {
	padding-bottom: $spacement-3xl !important;
}

.pb-4xl {
	padding-bottom: $spacement-4xl !important;
}

.pb-5xl {
	padding-bottom: $spacement-5xl !important;
}

/* spacement left  */
.pl-none {
	padding-left: 0 !important;
}

.pl-ts {
	padding-left: $spacement-ts !important;
}


.pl-xs {
	padding-left: $spacement-xs !important;
}

.pl-sm {
	padding-left: $spacement-sm !important;
}

.pl-md {
	padding-left: $spacement-md !important;
}

.pl-lg {
	padding-left: $spacement-lg !important;
}

.pl-xl {
	padding-left: $spacement-xl !important;
}

.pl-xlt {
	padding-left: $spacement-xlt !important;
}

.pl-xlx {
	padding-left: $spacement-xlx !important;
}

.pl-xls {
	padding-left: $spacement-xls !important;
}

.pl-xlm {
	padding-left: $spacement-xlm !important;
}

.pl-xlg {
	padding-left: $spacement-xlg !important;
}

.pl-2xl {
	padding-left: $spacement-2xl !important;
}

.pl-3xl {
	padding-left: $spacement-3xl !important;
}

.pl-4xl {
	padding-left: $spacement-4xl !important;
}

.pl-5xl {
	padding-left: $spacement-5xl !important;
}

/* spacement right  */
.pr-none {
	padding-right: 0 !important;
}

.pr-ts {
	padding-right: $spacement-ts !important;
}

.pr-xs {
	padding-right: $spacement-xs !important;
}

.pr-sm {
	padding-right: $spacement-sm !important;
}

.pr-md {
	padding-right: $spacement-md !important;
}

.pr-lg {
	padding-right: $spacement-lg !important;
}

.pr-xl {
	padding-right: $spacement-xl !important;
}

.pr-xlg {
	padding-right: $spacement-xlg !important;
}

.pr-xlt {
	padding-right: $spacement-xlt !important;
}

.pr-xlx {
	padding-right: $spacement-xlx !important;
}

.pr-xls {
	padding-right: $spacement-xls !important;
}

.pr-xlm {
	padding-right: $spacement-xlm !important;
}

.pr-xlg {
	padding-right: $spacement-xlg !important;
}

.pr-2xl {
	padding-right: $spacement-2xl !important;
}

.pr-3xl {
	padding-right: $spacement-3xl !important;
}

.pr-4xl {
	padding-right: $spacement-4xl !important;
}

.pr-5xl {
	padding-right: $spacement-5xl !important;
}


// HELPERS
// -----------------------------------------------------------------------------
.ib {
	display: inline-block;
	vertical-align: top;
}

.text-block {
	display: block;
}

.va-middle {
	vertical-align: middle;
}

.ws-nowrap {
	white-space: nowrap;
}

.ws-normal {
	white-space: normal;
}

// BG STATES
// -----------------------------------------------------------------------------
.bg-default {
	background: $color-default;
	color: $color-default-inverse;
}

@each $color in $colors-list {
	.bg-#{nth($color,1)} {
		background: #{nth($color,2)};
		color: #{nth($color,3)};
	}
}