// FILE UPLOAD
// -----------------------------------------------------------------------------
.fileupload {
	&.fileupload-exists{
		.btn-file{
			width: 20%;
		}
		.fileupload-exists{
			width: 20%;
			@include text-overflow();
		}
	}
	.uneditable-input {
		width: 60%;
		height: 41px;
		text-align: left;
		margin-left: 0 !important;
		.fa {
			position: absolute;
			top: 12px;
		}

		.fileupload-preview {
			display: inline-block;
			float: left;
			overflow: hidden;
			padding: 0 0 0 17px;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
	.btn-file{
		@include text-overflow();
		width: 40%;
	}
	
	.input-append{
		
		.btn{
			&:first-child{
				@include border-left-radius(4px);
			}
			&:last-child{
				@include border-right-radius(4px);
			}
		}
	}

	.btn {
		border-radius: 0;
	}
}
// Fix sizes
// @media only screen and (max-width: 479px) {
// 	.fileupload {
// 		.uneditable-input {
// 			width: 170px;
// 		}
// 	}
// }
// @media only screen and (max-width: $screen-iphone6plus) {
// 	.fileupload {
// 		.uneditable-input {
// 			width: 160px;
// 		}
// 	}
// }
// @media only screen and (max-width: $screen-iphone6) {
// 	.fileupload {
// 		.uneditable-input {
// 			width: 130px;
// 		}
// 	}
// }
// @media only screen and (max-width: $screen-iphone5) {
// 	.fileupload {
// 		.uneditable-input {
// 			width: 70px;
// 		}
// 	}
// }