.spinner-buttons {
	
	&.btn-group-vertical .btn {
		height: 18px;
		margin: 0;
		padding-left: 6px;
		padding-right: 6px;
		text-align: center;
		width: 22px;
		line-height: 14px;
		border-left: 0;

		&.spinner-up{
			border-bottom: 0;
		}
	}

	&.btn-group-vertical .btn i {
		margin-top: 0;
		position: relative;
		top: -6px;
	}

	&.btn-group-vertical .btn:first-child {
		border-radius: 0 4px 0 0 !important;
		-webkit-border-radius: 0 4px 0 0 !important;
	}

	&.btn-group-vertical .btn:last-child {
		border-radius: 0 0 4px !important;
		-webkit-border-radius:  0 0 4px !important;
	}

}