/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-cart-add-name: 'ico-cart-add';
$ico-cart-add-x: 35px;
$ico-cart-add-y: 0px;
$ico-cart-add-offset-x: -35px;
$ico-cart-add-offset-y: 0px;
$ico-cart-add-width: 14px;
$ico-cart-add-height: 14px;
$ico-cart-add-total-width: 49px;
$ico-cart-add-total-height: 64px;
$ico-cart-add-image: '../images/sprite.png';
$ico-cart-add: (35px, 0px, -35px, 0px, 14px, 14px, 49px, 64px, '../images/sprite.png', 'ico-cart-add', );
$ico-coin-name: 'ico-coin';
$ico-coin-x: 35px;
$ico-coin-y: 14px;
$ico-coin-offset-x: -35px;
$ico-coin-offset-y: -14px;
$ico-coin-width: 14px;
$ico-coin-height: 14px;
$ico-coin-total-width: 49px;
$ico-coin-total-height: 64px;
$ico-coin-image: '../images/sprite.png';
$ico-coin: (35px, 14px, -35px, -14px, 14px, 14px, 49px, 64px, '../images/sprite.png', 'ico-coin', );
$ico-coins-down-name: 'ico-coins-down';
$ico-coins-down-x: 35px;
$ico-coins-down-y: 28px;
$ico-coins-down-offset-x: -35px;
$ico-coins-down-offset-y: -28px;
$ico-coins-down-width: 14px;
$ico-coins-down-height: 14px;
$ico-coins-down-total-width: 49px;
$ico-coins-down-total-height: 64px;
$ico-coins-down-image: '../images/sprite.png';
$ico-coins-down: (35px, 28px, -35px, -28px, 14px, 14px, 49px, 64px, '../images/sprite.png', 'ico-coins-down', );
$ico-creditcart-name: 'ico-creditcart';
$ico-creditcart-x: 35px;
$ico-creditcart-y: 42px;
$ico-creditcart-offset-x: -35px;
$ico-creditcart-offset-y: -42px;
$ico-creditcart-width: 14px;
$ico-creditcart-height: 14px;
$ico-creditcart-total-width: 49px;
$ico-creditcart-total-height: 64px;
$ico-creditcart-image: '../images/sprite.png';
$ico-creditcart: (35px, 42px, -35px, -42px, 14px, 14px, 49px, 64px, '../images/sprite.png', 'ico-creditcart', );
$separator-arrow-light-name: 'separator-arrow-light';
$separator-arrow-light-x: 0px;
$separator-arrow-light-y: 26px;
$separator-arrow-light-offset-x: 0px;
$separator-arrow-light-offset-y: -26px;
$separator-arrow-light-width: 12px;
$separator-arrow-light-height: 38px;
$separator-arrow-light-total-width: 49px;
$separator-arrow-light-total-height: 64px;
$separator-arrow-light-image: '../images/sprite.png';
$separator-arrow-light: (0px, 26px, 0px, -26px, 12px, 38px, 49px, 64px, '../images/sprite.png', 'separator-arrow-light', );
$separator-arrow-name: 'separator-arrow';
$separator-arrow-x: 12px;
$separator-arrow-y: 26px;
$separator-arrow-offset-x: -12px;
$separator-arrow-offset-y: -26px;
$separator-arrow-width: 12px;
$separator-arrow-height: 38px;
$separator-arrow-total-width: 49px;
$separator-arrow-total-height: 64px;
$separator-arrow-image: '../images/sprite.png';
$separator-arrow: (12px, 26px, -12px, -26px, 12px, 38px, 49px, 64px, '../images/sprite.png', 'separator-arrow', );
$status-check-name: 'status-check';
$status-check-x: 0px;
$status-check-y: 0px;
$status-check-offset-x: 0px;
$status-check-offset-y: 0px;
$status-check-width: 35px;
$status-check-height: 26px;
$status-check-total-width: 49px;
$status-check-total-height: 64px;
$status-check-image: '../images/sprite.png';
$status-check: (0px, 0px, 0px, 0px, 35px, 26px, 49px, 64px, '../images/sprite.png', 'status-check', );
$spritesheet-width: 49px;
$spritesheet-height: 64px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ico-cart-add, $ico-coin, $ico-coins-down, $ico-creditcart, $separator-arrow-light, $separator-arrow, $status-check, );
$spritesheet: (49px, 64px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
