// TIMELINE
// -----------------------------------------------------------------------------
$timeline-line-left: 20px;
$timeline-simple-line-left: 30px;
@mixin tm-icon-small(){
	&:before,&:after {
		background: darken($body-color,10%);
		left: 15px;
		content: ' ';
		height: 8px;
		width: 8px;
		position: absolute;
		pointer-events: none;
		top: 0; 
		z-index: 2;
		@include border-radius(50%);
		box-shadow: 0 1px 0 rgba(#000,.2) inset;
	}
	&:before{
		top: auto; 
		bottom: 0;
	}
	.tm-title {
		position: relative;
		display: inline-block;
		text-align: center;
		min-width: 160px;
		background-color: transparent;
		padding: 0;
		margin: 0 ($timeline-line-left + 30);
		z-index: 1;  
		@include border-radius(0);
		&.tm-title-top{
			// margin-top: -20px;
			// top: -17px;
			&:after{
				display: none;
			}
		}
		&.tm-title-bottom{
			// margin-bottom: -20px;
			// bottom: -24px;
			&:after{
				display: none;
			}
		}
		.btn{
			@include font-size(16); 
			text-transform: uppercase;
			&:after {
				right: 100%;
				border: solid transparent;
				content: ' ';
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: inherit;
				border-width: 8px;
				top: 50%;
				margin-top: -8px;
				z-index: 2;
			}
		}
		&:after {
			background: darken($body-color,10%);
			left: -($timeline-line-left+15);
			content: ' ';
			height: 8px;
			width: 8px;
			position: absolute;
			pointer-events: none;
			top: 50%; 
			margin-top: -4px;
			z-index: 2;
			@include border-radius(50%);
			box-shadow: 0 1px 0 rgba(#000,.2) inset;
		}
		&:before {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 2px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: $timeline-line-left+5;
			filter: alpha(opacity=35);
			opacity: 0.35;
			left: -($timeline-line-left+10);
		}
	}
	.tm-body{
		position: relative;
		padding: 0;
		margin: 50px 0;
		&:after {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 100%;
			left: $timeline-line-left;
			margin-left: -2px;
			position: absolute;
			top: 0;
			width: 2px;
			z-index: 0;
			filter: alpha(opacity=35);
			opacity: 0.35;
		}
		.tm-items{
			.tm-box{
				margin: 20px 0 20px ($timeline-line-left + 40);
				&:after {
					right: 100%;
					border: solid transparent;
					content: ' ';
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-right-color: #fff;
					border-width: 6px;
					top: 50%;
					margin-top: -6px;
					z-index: 2;
				}
				.tm-icon{
					font-size: 16px;
					line-height: 30px;
					width: 36px;
					height: 36px;
					margin-top: (-34px)/2;
					left: -($timeline-line-left+40);
				}
			}
		}
	}
}
.timeline {
	font-family: $font-secundary;
	position: relative;
	&:before,&:after {
		background: darken($body-color,10%);
		left: $timeline-line-left+-5;
		content: ' ';
		height: 8px;
		width: 8px;
		position: absolute;
		pointer-events: none;
		top: 0; 
		z-index: 2;
		@include border-radius(50%);
		box-shadow: 0 1px 0 rgba(#000,.2) inset;
	}
	&:before{
		top: auto; 
		bottom: 0;
	}
	.tm-title {
		position: relative;
		display: inline-block;
		text-align: center;
		min-width: 160px;
		background-color: transparent;
		padding: 0;
		margin: 0 ($timeline-line-left + 40);
		z-index: 1;  
		@include border-radius(0);
		&.tm-title-top{
			// margin-top: -20px;
			top: -17px;
			&:after{
				display: none;
			}
		}
		&.tm-title-bottom{
			// margin-bottom: -20px;
			bottom: -24px;
			&:after{
				display: none;
			}
		}
		.btn{
			@include font-size(16); 
			@include text-overflow(); 
			text-transform: uppercase;
			&:after {
				right: 100%;
				border: solid transparent;
				content: ' ';
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: inherit;
				border-width: 8px;
				top: 50%;
				margin-top: -8px;
				z-index: 2;
			}
		}
		&:after {
			background: darken($body-color,10%);
			left: -($timeline-line-left+25);
			content: ' ';
			height: 8px;
			width: 8px;
			position: absolute;
			pointer-events: none;
			top: 50%; 
			margin-top: -4px;
			z-index: 2;
			@include border-radius(50%);
			box-shadow: 0 1px 0 rgba(#000,.2) inset;
		}
		&:before {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 2px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: $timeline-line-left+15;
			filter: alpha(opacity=35);
			opacity: 0.35;
			left: -($timeline-line-left+20);
		}
	}
	.tm-body{
		position: relative;
		padding: 0;
		margin: 50px 0;
		&:after {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 100%;
			left: $timeline-line-left;
			margin-left: -2px;
			position: absolute;
			top: 0;
			width: 2px;
			z-index: 0;
			filter: alpha(opacity=35);
			opacity: 0.35;
		}
		.tm-items{
			list-style: none;
			padding: 0;
			margin: 0;
				.tm-box{
					margin: 20px 0 20px ($timeline-line-left + 60);
					padding: 0;
					position: relative;
					z-index: 1;
					background: #fff;
					min-height: 40px;
					border: 0;
					@include border-radius(6px);
					&:after {
						right: 100%;
						border: solid transparent;
						content: ' ';
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-right-color: #fff;
						border-width: 6px;
						top: 50%;
						margin-top: -6px;
						z-index: 2;
					}
					.tm-icon{
						border: 3px solid;
						font-weight: $font-weight-bold;
						font-family: $font-primary;
						background-color: #fff;
						text-align: center;
						font-size: 24px;
						padding: 0;
						line-height: 46px;
						width: 52px;
						height: 52px;
						margin-top: (-52px)/2;
						position: absolute;
						color: inherit;
						z-index: 2;
						top: 50%;
						  left: -($timeline-line-left+66);
						@include border-radius(50%);
						.fa-paper-plane{
							position: relative;
							left: -2px;
						}
					}
					p:last-child {
						margin-bottom: 0;
					}
					.tm-meta {
						margin: 10px 0 0;
						span {
							display: inline-block;
							padding-right: 8px;

							&:last-child,
							&:last-of-type {
								padding-right: 0;
							}
						}
					}
					&.panel{
						min-height: 20px;
						border: 0;
						padding: 0;
						&.border{
							border: 1px solid darken($body-color,5%);
							&:after {
							}
							&:before {
								right: 100%;
								border: solid transparent;
								content: ' ';
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-right-color: darken($body-color,5%);
								border-width: 8px;
								top: 50%;
								margin-top: -8px;
								z-index: 1;
							}
						}
						.panel-heading{
							background: transparent;
						    border-bottom: 0;
						    padding: 15px;
						    @include border-radius(0);
						    .panel-actions{
								right: 0;
							    top: 0;
							    z-index: 2;
							    height: 100%;
							    .panel-actions-collapse{
							    	@include font-size(10);
							    	color: $color-black;
							    	position: absolute;
							    	right: 15px;
							    	top: 50%;
							    	margin-top: -12px;
							    	&.accordion-toggle{
							    		display: inline-block;
									  	font-family: FontAwesome;
									  	font-style: normal;
									  	font-weight: normal;
									 	-webkit-font-smoothing: antialiased;
									  	-moz-osx-font-smoothing: grayscale; 
										&:before{
							    			content: "\f078";
							    		}
							    		&.collapsed{
									    	&:before{
								    			 content: "\f077";
								    		}
									    }
							    	}
							    }
							    .panel-actions-close{
							    	@include font-size(12);
							    	position: absolute;
							    	right: -40px;
							    	top: 50%;
							    	margin-top: -12px;
							    }
							}
							.panel-title{
								padding: 2px 0;
								&h1,
								&.h1 {
									@include font-size($h1-font-size, important);
								}

								&h2,
								&.h2 {
									@include font-size($h2-font-size, important);
								}

								&h3,
								&.h3 {
									@include font-size($h3-font-size, important);
								}

								&h4,
								&.h4 {
									@include font-size($h4-font-size, important);
								}

								&h5,
								&.h5 {
									@include font-size($h5-font-size, important);
								}

								&h6,
								&.h6 {
									@include font-size($h6-font-size, important);
								}
							}
						}
						.panel-body{
							background: #fff;
							border-top: 1px solid darken($body-color,5%);
							padding: 15px;
							line-height: 1.4;
							@include border-top-radius(0); 
						}
					}
				}
			
		}
	}
	// TIMELINE NO LINE
	// -----------------------------------------------------------------------------
	&.noline{
		&:before,&:after {
			display: none;
		}
		.tm-body{
			margin: 25px 0;
			&:after {
				display: none;
			}
		}
	}
	// TIMELINE ICON SMALL
	// -----------------------------------------------------------------------------
	&.tm-icon-small{
		@include tm-icon-small();
	}	
	// TIMELINE STREAM
	// -----------------------------------------------------------------------------
	&.timeline-stream{
		.tm-title {
			&.tm-title-top{
				margin-bottom: 25px;
			}
		}
		.tm-body{
			padding: 0 70px 0 0;
			margin: 50px 0;
			.tm-items{
				.tm-box{
					margin: 0 0 20px ($timeline-line-left + 40);
					min-height: 25px;
					&:after {
						top: 0;
						margin-top: 16px;
					}
					&:before {
						content: '';
						top: 0;
						position: absolute;
						left: -49px;
						border: 3px solid $color-info;
						font-weight: $font-weight-bold;
						font-family: $font-primary;
						background-color: #fff;
						width: 16px;
						height: 16px;
						margin-top: 14px;
						@include border-radius(50%);
					}
					&.panel{
						.panel-heading{
							 padding: 5px 60px 0 10px;
							.panel-title{
								position: relative;
								top: 4px;
								font-family: $font-primary;
							}
						}
					}
				}
			}
		}
	}
}

// TIMELINE - RESPONSIVE
// -----------------------------------------------------------------------------
$timeline-responsive-line-left: 10px;
$timeline-responsive-simple-line-left: 30px;

@media only screen and (max-width: $screen-iphone6plus) {
	.container-fluid{
		 padding: 0;
	}
	.timeline {
		@include tm-icon-small();
		// &.tm-icon-small{
		// 	.tm-body {
		// 		margin: 25px 0
		// 	}
		// }
		// &:before,&:after {
		// 	background: darken($body-color,10%);
		// 	left: $timeline-responsive-line-left+-5;
		// 	content: ' ';
		// 	height: 8px;
		// 	width: 8px; 
		// 	z-index: 2;
		// }
		// .tm-title {
		// 	margin: 0 ($timeline-responsive-line-left + 20);
		// 	&.tm-title-top{
		// 		// margin-top: -12px;
		// 	}
		// 	&.tm-title-bottom{
		// 		// margin-bottom: -20px;
		// 		   // bottom: -9px;
		// 	}
		// 	.btn{
		// 		&:after {
		// 			border-width: 8px;
		// 			margin-top: -8px;
		// 		}
		// 	}
		// 	&:after {
		// 		left: -($timeline-responsive-line-left+25);
		// 		height: 8px;
		// 		width: 8px;
		// 		margin-top: -4px;
		// 	}
		// 	&:before {
		// 		height: 2px;
		// 		margin-top: -1px;
		// 		width: $timeline-responsive-line-left+10;
		// 		left: -($timeline-responsive-line-left+10);
		// 	}
		// }
		// .tm-body{
		// 	&:after {
		// 		left: $timeline-responsive-line-left;
		// 		margin-left: -2px;
		// 		width: 2px;
		// 	}
		// 	.tm-items{
		// 		.tm-box{
		// 			margin: 20px 0 20px ($timeline-responsive-line-left + 60);
		// 			min-height: 40px;;
		// 			&:after {
		// 				border-width: 6px;
		// 				margin-top: -6px;
		// 			}
		// 			.tm-icon{
		// 				border: 3px solid;
		// 				font-size: 24px;
		// 				line-height: 46px;
		// 				width: 52px;
		// 				height: 52px;
		// 				margin-top: (-52px)/2;
		// 				left: -($timeline-responsive-line-left+66);
		// 				@include border-radius(50%);
		// 				.fa-paper-plane{
		// 					position: relative;
		// 					left: -2px;
		// 				}
		// 			}
		// 			.tm-meta {
		// 				margin: 10px 0 0;
		// 				span {
		// 					padding-right: 8px;
		// 				}
		// 			}
		// 			&.panel{
		// 				min-height: 20px;
		// 				&.border{
		// 					border: 1px solid darken($body-color,5%);
		// 					&:before {
		// 						border-width: 8px;
		// 						top: 50%;
		// 						margin-top: -8px;
		// 						z-index: 1;
		// 					}
		// 				}
		// 				.panel-heading{
		// 				    padding: 15px;
		// 				    .panel-actions{
		// 					    .panel-actions-collapse{
		// 					    	@include font-size(10);
		// 					    	right: 15px;
		// 					    	margin-top: -12px;
		// 					    	&.accordion-toggle{
		// 								&:before{
		// 					    		}
		// 					    		&.collapsed{
		// 							    	&:before{
		// 						    		}
		// 							    }
		// 					    	}
		// 					    }
		// 					    .panel-actions-close{
		// 					    	@include font-size(12);
		// 					    	right: -40px;
		// 					    	margin-top: -12px;
		// 					    }
		// 					}
		// 				}
		// 				.panel-body{
		// 					border-top: 1px solid darken($body-color,5%);
		// 					padding: 15px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
		&.timeline-stream{
			.tm-body{
				padding: 0;
				margin: 50px 0;
				.tm-items{
					.tm-box{
						margin: 0 0 20px ($timeline-responsive-line-left + 40);
						min-height: 25px;
						&:after {
							top: 0;
							margin-top: 16px;
						}
						&:before {
							left: -($timeline-responsive-line-left + 29);
							border-width: 3px;
							width: 16px;
							height: 16px;
							margin-top: 14px;
						}
						&.panel{
							.panel-heading{
								.panel-actions{
									.panel-actions-collapse{
								    	@include font-size(10);
								    	right: 15px;
								    	top: 10px;
								    	margin-top: 0;
								    }
								    .panel-actions-close{
								    	right: -22px;
								    	top: 10px;
								    	margin-top: 0;
								    }
								}
								.panel-title{
									top: 4px;
								}
								.label-link{
									margin-bottom: $spacement-xs;
								}
							}
						}
					}
				}
			}
		}
	}
	.box,.panel{
		.timeline{
			.tm-body{
				margin: 25px 0;
			}
		}
	}
}

// DARK SKIN
// -----------------------------------------------------------------------------
html.dark {
	.timeline {
		.tm-items > li {
			.tm-box {
				background: $dark-color-3;
				border-color: $dark-color-2;

				&:after {
					border-right-color: $dark-color-3;
				}
				&:before {
					border-right-color: $dark-color-2;
				}
			}
			.tm-icon {
				background-color: $dark-color-1;
			}
		}
		.tm-title {
			background-color: $dark-color-3;
			border-color: $dark-color-2;
		}

		&.timeline-simple {

			.tm-body {
				.tm-title {
					background-color: $dark-color-3;
					border-color: $dark-color-2;
				}
				.tm-items > li {
					&:before {
						box-shadow: 0 0 0 3px $dark-color-4, 0 0 0 6px $color-primary;
					}

					.tm-box {
						&:after {
							border-right-color: $dark-color-3;
						}
						&:before {
							border-right-color: $dark-color-2;
						}
					}
				}
			}
		}
	}
}