// TIMELINE
// -----------------------------------------------------------------------------
$timeline-line-left: 20px;
$timeline-simple-line-left: 30px;

.timeline {
	font-family: $font-secundary;
	position: relative;
	&:before,&:after {
		background: darken($body-color,10%);
		left: 15px;
		content: ' ';
		height: 8px;
		width: 8px;
		position: absolute;
		pointer-events: none;
		top: 0; 
		z-index: 2;
		@include border-radius(50%);
		box-shadow: 0 1px 0 rgba(#000,.2) inset;
	}
	&:before{
		top: auto; 
		bottom: 0;
	}
	.tm-title {
		position: relative;
		display: inline-block;
		text-align: center;
		min-width: 160px;
		background-color: transparent;
		padding: 0;
		margin: 0 ($timeline-line-left + 40);
		z-index: 1;  
		@include border-radius(0);
		&.tm-title-top{
			margin-top: -20px;
			top: -5px;
			&:after{
				display: none;
			}
		}
		&.tm-title-bottom{
			margin-bottom: -20px;
			bottom: -9px;
			&:after{
				display: none;
			}
		}
		.btn{
			@include font-size(16); 
			text-transform: uppercase;
			&:after {
				right: 100%;
				border: solid transparent;
				content: ' ';
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: inherit;
				border-width: 8px;
				top: 50%;
				margin-top: -8px;
				z-index: 2;
			}
		}
		&:after {
			background: darken($body-color,10%);
			left: -($timeline-line-left+25);
			content: ' ';
			height: 8px;
			width: 8px;
			position: absolute;
			pointer-events: none;
			top: 50%; 
			margin-top: -4px;
			z-index: 2;
			@include border-radius(50%);
			box-shadow: 0 1px 0 rgba(#000,.2) inset;
		}
		&:before {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 2px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: $timeline-line-left+15;
			filter: alpha(opacity=35);
			opacity: 0.35;
			left: -($timeline-line-left+20);
		}
	}
	.tm-body{
		position: relative;
		padding: 0;
		margin: 50px 0;
		&:after {
			background: darken($body-color,20%);
			content: '';
			display: block;
			height: 100%;
			left: $timeline-line-left;
			margin-left: -2px;
			position: absolute;
			top: 0;
			width: 2px;
			z-index: 0;
			filter: alpha(opacity=35);
			opacity: 0.35;
		}
		.tm-items{
			list-style: none;
			padding: 0;
			margin: 0;
			& > li {
				margin: 20px 0;
				padding: 0 0 0 ($timeline-line-left + 60);
				min-height: 20px;
				position: relative;
				z-index: 1;
				.tm-icon{
					border: 3px solid;
					font-weight: $font-weight-bold;
					font-family: $font-primary;
					background-color: #fff;
					text-align: center;
					font-size: 24px;
					padding: 0;
					line-height: 46px;
					width: 52px;
					height: 52px;
					margin-top: (-52px)/2;
					margin-left: (-52px)/2;
					position: absolute;
					color: inherit;
					z-index: 2;
					top: 50%;
					left: $timeline-line-left;
					@include border-radius(30px);
					.fa-paper-plane{
						position: relative;
						left: -2px;
					}
				}
				.tm-box{
					position: relative;
					background: #fff;
					min-height: 40px;
					padding: 0;
					border: 0;
					@include border-radius(6px);
					&:after {
						right: 100%;
						border: solid transparent;
						content: ' ';
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-right-color: #fff;
						border-width: 6px;
						top: 50%;
						margin-top: -6px;
						z-index: 2;
					}
					p:last-child {
						margin-bottom: 0;
					}
					.tm-meta {
						margin: 10px 0 0;
						span {
							display: inline-block;
							padding-right: 8px;

							&:last-child,
							&:last-of-type {
								padding-right: 0;
							}
						}
					}
					&.panel{
						min-height: 20px;
						border: 0;
						padding: 0;
						.panel-heading{
							background: transparent;
						    border-bottom: 0;
						    padding: 15px;
						    @include border-radius(0);
						    .panel-actions{
								right: 0;
							    top: 0;
							    z-index: 2;
							    height: 100%;
							    .panel-actions-collapse{
							    	@include font-size(10);
							    	color: $color-black;
							    	position: absolute;
							    	right: 15px;
							    	top: 50%;
							    	margin-top: -12px;
							    	&.collapsed{
								    	&:before{
							    			content: "\f077";
							    		}
								    }
							    }
							    .panel-actions-close{
							    	@include font-size(12);
							    	position: absolute;
							    	right: -40px;
							    	top: 50%;
							    	margin-top: -12px;
							    }
							}
							.panel-title{
								&h1,
								&.h1 {
									@include font-size($h1-font-size, important);
								}

								&h2,
								&.h2 {
									@include font-size($h2-font-size, important);
								}

								&h3,
								&.h3 {
									@include font-size($h3-font-size, important);
								}

								&h4,
								&.h4 {
									@include font-size($h4-font-size, important);
								}

								&h5,
								&.h5 {
									@include font-size($h5-font-size, important);
								}

								&h6,
								&.h6 {
									@include font-size($h6-font-size, important);
								}
							}
						}
						.panel-body{
							background: #fff;
							border-top: 1px solid darken($body-color,5%);
							padding: 15px;
							line-height: 1.4;
							@include border-radius(0); 
						}
					}
				}
			}
		}
	}
	&.timeline-stream{
		.tm-body{
			padding: 0 70px 0 0;
			margin: 50px 0;
			.tm-items{
				& > li {
					padding: 0 0 0 ($timeline-line-left + 40);
					.tm-box{
						min-height: 25px;
						&:after {
							top: 0;
							margin-top: 16px;
						}
						&:before {
							content: '';
							top: 0;
							position: absolute;
							left: -49px;
							border: 3px solid $color-info;
							font-weight: $font-weight-bold;
							font-family: $font-primary;
							background-color: #fff;
							width: 16px;
							height: 16px;
							margin-top: 14px;
							@include border-radius(50%);
						}
						&.panel{
							.panel-heading{
								padding: 10px;
								.panel-title{
									font-family: $font-primary;
								}
							}
						}
					}
				}
			}
		}
	}
}

// TIMELINE - RESPONSIVE
// -----------------------------------------------------------------------------
$timeline-responsive-line-left: 20px;
$timeline-responsive-simple-line-left: 30px;

@media only screen and (max-width: 991px) {
	.timeline {
		.tm-body {
			&:after {
				left: $timeline-responsive-line-left;
			}
		}

		.tm-title {
			margin: 0;
		}

		.tm-items {
			& > li {
				padding-left: 50px;

				.tm-info {
					@include clearfix;
					margin: 0 0 15px;
				}

				.tm-icon {
					border-width: 2px;
					float: left;
					font-size: 22px;
					height: 40px;
					line-height: 36px;
					margin: 0 15px 0 0;
					padding: 0;
					position: static;
					width: 40px;
				}

				.tm-datetime {
					margin: 0;
					position: static;
					text-align: left;

					.tm-datetime-date {
						@include font-size(12);
						line-height: 1.3;
					}

					.tm-datetime-time {
						@include font-size(18);
						line-height: 1.3;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.timeline {
		.tm-items > li .tm-box .tm-meta span {
			display: block;
		}
	}
}

// DARK SKIN
// -----------------------------------------------------------------------------
html.dark {
	.timeline {
		.tm-items > li {
			.tm-box {
				background: $dark-color-3;
				border-color: $dark-color-2;

				&:after {
					border-right-color: $dark-color-3;
				}
				&:before {
					border-right-color: $dark-color-2;
				}
			}
			.tm-icon {
				background-color: $dark-color-1;
			}
		}
		.tm-title {
			background-color: $dark-color-3;
			border-color: $dark-color-2;
		}

		&.timeline-simple {

			.tm-body {
				.tm-title {
					background-color: $dark-color-3;
					border-color: $dark-color-2;
				}
				.tm-items > li {
					&:before {
						box-shadow: 0 0 0 3px $dark-color-4, 0 0 0 6px $color-primary;
					}

					.tm-box {
						&:after {
							border-right-color: $dark-color-3;
						}
						&:before {
							border-right-color: $dark-color-2;
						}
					}
				}
			}
		}
	}
}